body {
    font-family: 'Pokemon Solid', sans-serif;
}

.container-fluid {
    background-image: url(https://images7.alphacoders.com/592/592678.jpg);
}

.pokedex {
    background-image: url(pokedex.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 855px;
    height: 635px;
    margin: 0 auto;
    position: relative;
}

.content,
.info {
    position: absolute;
}

#tableHolder {
    display: block;
    overflow: auto;
    overflow-x: hidden;
    height: 176px;
}

table thead {
    display: block;
}

#tableHolder tr:hover {
    cursor: pointer;
    background-color: #ffa861;
}


.content {
    left: 273px;
    top: 44px;
    width: 299px;
    height: 221px;
}

.info {
    top: 378px;
    left: 273px;
    width: 297px;
    height: 217px;
}

#imgPoke {
    width: 120px;
}