body {
    font-family: 'Pokemon Solid', sans-serif;
}

.container-fluid {
    background-image: url(https://images7.alphacoders.com/592/592678.jpg);
}

.pokedex {
    background-image: url(pokedex.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 855px;
    height: 635px;
    margin: 0 auto;
    position: relative;
}

.content,
.info {
    position: absolute;
}

.content {
    width: 100px;
    height: 100px;
    background-color: aqua;
}

#imgPoke {
    width: 120px;
}